:root {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  color: white;
}

body {
  margin: 0;
  height: 100vh;
  width: 100vw;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(
    165deg,
    #eb703f,
    #e8668d,
    #d547b4,
    #a045aa,
    #8451a8,
    #513b85,
    #2e2e5b,
    rgba(0, 0, 0, 1)
  );
}

.title {
  --time: 0.29s;
  --steps: 4;
  --delay: 2s;
  --cursordelay: 0s;
  --width: 3.5em;
  --direction: forwards;
  --repeat: 4;

  display: block;

  margin: 0;

  width: var(--width);
  border-right: 2px solid rgba(255, 255, 255, 0);

  font-size: 5em;

  text-align: center;
  white-space: nowrap;
  overflow: hidden;
}

.description {
  --time: 1s;
  --steps: 50;
  --delay: 3s;
  --cursordelay: 3s;
  --width: 30em;
  --direction: forwards;
  --repeat: infinite;

  display: none;

  margin: 0;

  width: var(--width);
  border-right: 2px solid rgba(255, 255, 255, 0);

  font-size: 1.5em;

  text-align: center;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (min-width: 800px) {
  .description {
    display: block;
  }
}
